<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.TTEnglish.backend.dao.CommentMapper">
    <update id="updateReadCommentMessage">
        UPDATE public_comment SET is_read='1' WHERE comment_content_id=#{0} and comment_username=#{1};
    </update>
    <insert id="insertComment">
        insert into publish_comment(comment_content_id,comment_username,comment_content,commented_username,is_read)
        value(#{0}, #{1}, #{2}, #{3}, #{4})
    </insert>
    <select id="SelectCommentAlert"  resultType="com.TTEnglish.backend.model.Comment">
        select

         detail.commented_username
        ,detail.comment_content_id
        ,detail.comment_username
        ,detail.comment_num
        ,total.comment_total_num

        from
        (
        select
        commented_username
        ,comment_content_id
        ,comment_username
        ,count(*) as comment_num

        from publish_comment
        where commented_username = #{0}
        and coalesce(is_read,'0') = '0'
        group BY
        commented_username
        ,comment_content_id
        ,comment_username
        ) detail

        left join
        (
        select

        count(*) as comment_total_num

        from publish_comment
        where commented_username = #{0}
        and coalesce(is_read,'0') = '0'
        ) total
        on 1=1
    </select>

</mapper>

