<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.TTEnglish.backend.dao.CommentMapper">
    <insert id="insertComment">
        insert into publish_comment(comment_content_id,comment_username,comment_content) value(#{0}, #{1}, #{2})
    </insert>
</mapper>

