<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.TTEnglish.backend.dao.ContentMapper">

    <select id="SelectContent"  resultType="com.TTEnglish.backend.model.Content">
       select al.topic_id  from ( select (max(topic_id)+1)  as topic_id from publish_content ) al
    </select>



    <insert id="inputContent">
        insert into publish_content(topic_id, topic_name,username,title,content) value(#{0}, #{1} ,#{2} ,#{3} ,#{4})
    </insert>


    <select id="SelectProfileContent" resultMap="getClassesMap">
        select
        u.id
        ,u.topic_id
        ,u.username
        ,u.title
        ,u.content
        ,u.time
        ,p.comment_content_id
        ,p.comment_username
        ,p.comment_content
        ,p.comment_time

        from publish_content u
        left join publish_comment p
        on u.id = p.comment_content_id
        where u.username=#{0}
        and topic_id = #{1}
        order by coalesce(p.comment_time ,u.time) desc
    </select>

    <select id="SelectCommentContent" resultMap="getClassesMap">
        select
        u.id
        ,u.topic_id
        ,u.username
        ,u.title
        ,u.content
        ,u.time

        ,u.agree_content_num
        ,u.disagree_content_num

        ,p.comment_id
        ,p.comment_content_id
        ,p.comment_username
        ,p.comment_content
        ,p.comment_time

        ,p.agree_comment_num
        ,p.disagree_comment_num

        from
        (
        select content.*
        ,assess_content.agree_content_num
        ,assess_content.disagree_content_num

        from publish_content content

        left join
        (select assess_id
        ,sum(if(is_agree='1' ,1 ,0)) as agree_content_num
        ,sum(if(is_agree='0' ,1 ,0)) as disagree_content_num

        from publish_assess
        where is_comment = '0'
        group by assess_id
        ) assess_content
        on content.id = assess_content.assess_id

        )u


        left join (
        select comment.*
        ,comment.id as comment_id
        ,assess_comment.agree_comment_num
        ,assess_comment.disagree_comment_num

        from publish_comment comment
        left join
        (select assess_id
        ,sum(if(is_agree='1' ,1 ,0)) as agree_comment_num
        ,sum(if(is_agree='0' ,1 ,0)) as disagree_comment_num

        from publish_assess
        where is_comment = '1'
        group by assess_id
        ) assess_comment
        on comment.id = assess_comment.assess_id


        ) p
        on u.id = p.comment_content_id
        where topic_id = 1
        order by coalesce(p.comment_time ,u.time) desc
        limit 10
    </select>

    <resultMap type="com.TTEnglish.backend.model.Content" id="getClassesMap">
        <id column="id" property="id"></id>
        <result column="topic_id" property="topic_id"/>
        <result column="username" property="username"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="time" property="time"/>
        <result column="agree_content_num" property="agree_content_num"/>
        <result column="disagree_content_num" property="disagree_content_num"/>
        <collection property="comment" ofType="com.TTEnglish.backend.model.Comment">
            <result column="comment_id" property="comment_id"/>
            <result column="comment_content_id" property="comment_content_id"/>
            <result column="comment_username" property="comment_username"/>
            <result column="comment_content" property="comment_content"/>
            <result column="comment_time" property="comment_time"/>
            <result column="agree_comment_num" property="agree_comment_num"/>
            <result column="disagree_comment_num" property="disagree_comment_num"/>
        </collection>
    </resultMap>
</mapper>

