<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 1 接口的全类名,使得接口和配置文件绑定
     2 以前我们是：dao -> daoImpl
               现在我们采用面向接口编程：dao下的UserMapper.java对应配置一个UserMapperxml文件,
           具体的实现放在UserMapperxml文件中-->
<mapper namespace="com.TTEnglish.backend.dao.FriendMapper">
    <insert id="insertNewFriend">
        insert into user_friend(username,friend_name) value(#{0}, #{1})
    </insert>
    <delete id="deleteFriend">
        DELETE FROM user_friend WHERE username=#{0} and friend_name=#{1};
    </delete>
    <select id="SelectRecommendFriendByUsername"  resultType="com.TTEnglish.backend.model.Friend">
        select
         #{0} as username
        ,u.username as friend_name

        from user u
        where u.username not in
        (
        select
        friend_name

        from user_friend
        where username = #{0}
        group by
        friend_name
        )
        group by u.username

    </select>

    <select id="SelectFriendByUsername"  resultType="com.TTEnglish.backend.model.Friend">
        select
        username
        ,friend_name

        from user_friend
        where username = #{0}
        group by
        username
        ,friend_name

    </select>

</mapper>

