<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 1 接口的全类名,使得接口和配置文件绑定
     2 以前我们是：dao -> daoImpl
               现在我们采用面向接口编程：dao下的UserMapper.java对应配置一个UserMapperxml文件,
           具体的实现放在UserMapperxml文件中-->
<mapper namespace="com.TTEnglish.backend.dao.PrivateMessageMapper">
    <update id="updateReadMessage">
        UPDATE private_message SET is_read='1' WHERE username=#{0} and private_message_friend_name=#{1};
    </update>


    <insert id="insertPrivateMessage">
        insert into private_message
        (
         username
        ,private_message_friend_name
        ,to_message_content
        ,from_message_content
        ,private_message_show_flag
        ,private_messages_input_value
        ,is_read
        )
        value(
         #{0}
        ,#{1}
        ,#{2}
        ,#{3}
        ,#{4}
        ,#{5}
        ,#{6}
        )
    </insert>

    <select id="selectPrivateMessageContent"  resultType="com.TTEnglish.backend.model.PrivateMessage">
        select
         id
        ,username
        ,private_message_friend_name
        ,to_message_content
        ,from_message_content
        ,private_message_show_flag
        ,private_messages_input_value
        ,message_create_time

        from private_message
        where
        (username = #{0} or username = #{1})
        and
        (private_message_friend_name = #{0} or private_message_friend_name = #{1} )
        order by message_create_time desc
    </select>

    <select id="SelectPrivateMessageAlert"  resultType="com.TTEnglish.backend.model.PrivateMessage">
        select a.username
              ,a.private_message_detail_num
              ,b.private_message_total
        from
        (
        select
         username
        ,count(*) as private_message_detail_num

        from private_message
        where private_message_friend_name = #{0}
        and is_read = "0"
        group by username
        ) a
        left join
        (
        select
        count(*) as private_message_total

        from private_message
        where private_message_friend_name = #{0}
        and is_read = "0"
        ) b on 1=1
        order by a.username desc
    </select>

</mapper>

