<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 1 接口的全类名,使得接口和配置文件绑定
     2 以前我们是：dao -> daoImpl
               现在我们采用面向接口编程：dao下的UserMapper.java对应配置一个UserMapperxml文件,
           具体的实现放在UserMapperxml文件中-->
<mapper namespace="com.TTEnglish.backend.dao.UserMapper">
    <insert id="registerMapper">
        insert into user(username,password) value(#{0}, #{1})
    </insert>
    <select id="getUserByUsername"  resultType="com.TTEnglish.backend.model.User">

        select

        al.id
        ,al.username
        ,al.password
        ,al.personal_intro
        ,al.love_status
        ,al.user_job
        ,al.user_company
        ,al.user_country
        ,al.user_province
        ,al.user_city
        ,al.user_junior_school
        ,al.user_junior_period
        ,al.user_senior_school
        ,al.user_senior_period
        ,al.user_bachelor_school
        ,al.user_bachelor_period
        ,al.user_master_school
        ,al.user_master_period
        ,al.user_phd_school
        ,al.user_phd_period
        ,al.user_postphd_shcool
        ,al.user_postphd_period
        ,al.user_create_time

        from user al

        join
        (
        select
        username
        ,max(user_create_time) as user_create_time
        from user
        group by  username

        ) one

        on  al.username = one.username
        and al.user_create_time = one.user_create_time

    </select>

    <insert id="inserProfileMapper">
        insert into user(username
                        ,password
                        ,personal_intro
                        ,love_status
                        ,user_job
                        ,user_company
                        ,user_country
                        ,user_province
                        ,user_city
                        ,user_junior_school
                        ,user_junior_period
                        ,user_senior_school
                        ,user_senior_period
                        ,user_bachelor_school
                        ,user_bachelor_period
                        ,user_master_school
                        ,user_master_period
                        ,user_phd_school
                        ,user_phd_period
                        ,user_postphd_shcool
                        ,user_postphd_period)
                   value( #{0}
                         ,#{1}
                         ,#{2}
                         ,#{3}
                         ,#{4}
                         ,#{5}
                         ,#{6}
                         ,#{7}
                         ,#{8}
                         ,#{9}
                         ,#{10}
                         ,#{11}
                         ,#{12}
                         ,#{13}
                         ,#{14}
                         ,#{15}
                         ,#{16}
                         ,#{17}
                         ,#{18}
                         ,#{19}
                         ,#{20})
    </insert>

</mapper>

