<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>为 HTML 添加新元素</title>
    <script>
document.createElement("myHero")
</script>
    <style>
myHero {
    display: block;
    background-color: #ddd;
    padding: 50px;
    font-size: 30px;
}
</style>
</head>

<body>

<h1>我的第一个标题</h1>

<p>我的第一个段落。</p>

<myHero>我的第一个新元素</myHero>
<body>
</body>
<myHero>我的第二个新元素</myHero>
<myHero>我的第三个新元素</myHero>
<myHero>我的第四个新元素</myHero>
<myHero>我的第五个新元素</myHero>
<myHero>我的第六个新元素</myHero>
<myHero>我的第七个新元素</myHero>
<myHero>我的第八个新元素</myHero>
<div id="f_pst" class="pl bm bmw">
    <form method="post" autocomplete="off" id="fastpostform" action="forum.php?mod=post&amp;action=reply&amp;fid=141&amp;tid=10181767&amp;extra=&amp;replysubmit=yes&amp;infloat=yes&amp;handlekey=fastpost" onSubmit="return fastpostvalidate(this)">
        <table cellspacing="0" cellpadding="0">
            <tr>
                <td class="pls">
                    <div class="avatar avtm"><img src="http://cdn2.kybimg.com/avatar/017/63/41/63_avatar_middle.jpg" onerror="this.onerror=null;this.src='http://cdn2.kybimg.com/avatar/noavatar_middle.gif'" /></div></td>
                <td class="plc">

                    <span id="fastpostreturn"></span>


                    <div class="cl">
                        <div textareaid="fastposteditor">
                            <div class="tedt mtn">
                                <div class="bar">
<span class="y">
<a rel="nofollow" href="forum.php?mod=post&amp;action=reply&amp;fid=141&amp;tid=10181767" onclick="return switchAdvanceMode(this.href)">高级模式</a>
</span><script src="data/cache/seditor.js?KyY" type="text/javascript"></script>
                                    <div class="fpd">
                                        <a href="javascript:;" title="文字加粗" class="fbld" onclick="seditor_insertunit('fastpost', '[b]', '[/b]');doane(event);">B</a>
                                        <a href="javascript:;" title="设置文字颜色" class="fclr" id="fastpostforecolor" onclick="showColorBox(this.id, 2, 'fastpost');doane(event);">Color</a>
                                        <a id="fastpostimg" href="javascript:;" title="图片" class="fmg" onclick="seditor_menu('fastpost', 'img');doane(event);">Image</a>
                                        <a id="fastposturl" href="javascript:;" title="添加链接" class="flnk" onclick="seditor_menu('fastpost', 'url');doane(event);">Link</a>
                                        <a id="fastpostquote" href="javascript:;" title="引用" class="fqt" onclick="seditor_menu('fastpost', 'quote');doane(event);">Quote</a>
                                        <a id="fastpostcode" href="javascript:;" title="代码" class="fcd" onclick="seditor_menu('fastpost', 'code');doane(event);">Code</a>
                                        <a href="javascript:;" class="fsml" id="fastpostsml" onclick="showMenu({'ctrlid':this.id,'evt':'click','layer':2});return false;">Smilies</a>
                                        <script type="text/javascript" reload="1">smilies_show('fastpostsmiliesdiv', 8, 'fastpost');</script>
                                        <script src="data/cache/at.js?KyY" type="text/javascript"></script>
                                        <a id="fastpostat" href="javascript:;" title="@朋友" class="fat" onclick="seditor_menu('fastpost', 'at');doane(event);">@朋友</a>
                                        <span class="pipe z">|</span><span id="spanButtonPlaceholder">上传</span></div></div>
                                <div class="area">
                                    <textarea rows="6" cols="80" name="message" id="fastpostmessage" onKeyDown="seditor_ctlent(event, 'fastpostvalidate($(\'fastpostform\'))');" tabindex="4" class="pt"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

</body>
</html>