<!DOCTYPE html>
<html>
<head>
    <title>My first Vue app</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
</head>
<body>
<div id="app">
    <p>{{ answer }}</p>
</div>

<script>


    var watchExampleVM = new Vue({
      el: '#app',
      data: {
        answer: 'I cannot give you an answer until you ask a question!'
      },
      created: function () {
       alert("this is my test")
      },
       methods: {
        getAnswer: function () {
          axios.get('/get_front)
               .then(function (response) {
                 console.log(response);
               })
               .catch(function (error) {
                 console.log(error);
               });
        }

    })



</script>
</body>
</html>