<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>自适应</title>
    <style>
        *{
            padding: 0;
            margin: 0;
        }
        .left{
            background: red;
            width: 200px;
            height: 200px;
            position: absolute;/*定位*/
            left: 0;
            top:0;
        }
        .right{
            background: blue;
            height: 200px;
            margin-left: 210px;
        }
    </style>
</head>
<body>
<div class="left">
    定宽
</div>
<div class="right">
    <p>
        百度文库，自2009年上线以来，百度文库已走过8年，截止2014年底拥有超过1亿份文档，内容涵盖基础教育、资格考试、人文社科、IT计算机、自然科学等53个行业，超过2600家机构入驻，每天吸引4000万用户，全国近六成800余万教师通过百度文库分享教育资源，百度文库已经与多省、市、校已有的信息平台融合。 [4]
        2009
        2009年11月12日，百度知道文档分享平台测试版上线；当时称为“百度知道文档分享平台”，使用百度知道的积分系统。 [5]
        2009年12月8日，百度知道文档分享更名为“百度文库”，并且升级了部分功能。
        2010
        百度文库上线一周年庆生活动
        百度文库上线一周年庆生活动
        2010年1月16日，百度文库文档数突破20万；
        2010年3月26日，百度文库支持书签；
        2010年4月29日，支持文档批量上传；
        2010年7月5日，手机版文库上线；
        2010年7月23，手机文库新域名产生；8月后使用独立的积分系统；9月份，百度文库“文档专辑”新功能上线；
        2010年11月25日，百度文库正式版上线；
        2010年12月底，百度文库上线“文库书店”服务，向用户直接出售电子图书。此举意在保持原有免费的基础文库资源的同时，更好的解决与小说等相关的之前引起了一些纷争的版权问题，促进出版行业更好的发展。 [6]
        文档数量方面，该年4月13日，百度文库文档突破100万。；9月17日凌晨达到700万份，年底12月28日18:45，百度文库数量达到14504290份，并继续保持高速增长。来自官方的数据显示，截至2010年11月，百度文库占据在线文档分享市场70%以上的份额，用户主动上传文档数量超过1000万份，其中教育类文档占80%。每天，这一平台新增的文档资源数量达15万份，文档下载量为650万份，用户浏览量7000万次。 [7]
        百度文库，自2009年上线以来，百度文库已走过8年，截止2014年底拥有超过1亿份文档，内容涵盖基础教育、资格考试、人文社科、IT计算机、自然科学等53个行业，超过2600家机构入驻，每天吸引4000万用户，全国近六成800余万教师通过百度文库分享教育资源，百度文库已经与多省、市、校已有的信息平台融合。 [4]
        2009
        2009年11月12日，百度知道文档分享平台测试版上线；当时称为“百度知道文档分享平台”，使用百度知道的积分系统。 [5]
        2009年12月8日，百度知道文档分享更名为“百度文库”，并且升级了部分功能。
        2010
        百度文库上线一周年庆生活动
        百度文库上线一周年庆生活动
        2010年1月16日，百度文库文档数突破20万；
        2010年3月26日，百度文库支持书签；
        2010年4月29日，支持文档批量上传；
        2010年7月5日，手机版文库上线；
        2010年7月23，手机文库新域名产生；8月后使用独立的积分系统；9月份，百度文库“文档专辑”新功能上线；
        2010年11月25日，百度文库正式版上线；
        2010年12月底，百度文库上线“文库书店”服务，向用户直接出售电子图书。此举意在保持原有免费的基础文库资源的同时，更好的解决与小说等相关的之前引起了一些纷争的版权问题，促进出版行业更好的发展。 [6]
        文档数量方面，该年4月13日，百度文库文档突破100万。；9月17日凌晨达到700万份，年底12月28日18:45，百度文库数量达到14504290份，并继续保持高速增长。来自官方的数据显示，截至2010年11月，百度文库占据在线文档分享市场70%以上的份额，用户主动上传文档数量超过1000万份，其中教育类文档占80%。每天，这一平台新增的文档资源数量达15万份，文档下载量为650万份，用户浏览量7000万次。 [7]
        百度文库，自2009年上线以来，百度文库已走过8年，截止2014年底拥有超过1亿份文档，内容涵盖基础教育、资格考试、人文社科、IT计算机、自然科学等53个行业，超过2600家机构入驻，每天吸引4000万用户，全国近六成800余万教师通过百度文库分享教育资源，百度文库已经与多省、市、校已有的信息平台融合。 [4]
        2009
        2009年11月12日，百度知道文档分享平台测试版上线；当时称为“百度知道文档分享平台”，使用百度知道的积分系统。 [5]
        2009年12月8日，百度知道文档分享更名为“百度文库”，并且升级了部分功能。
        2010
        百度文库上线一周年庆生活动
        百度文库上线一周年庆生活动
        2010年1月16日，百度文库文档数突破20万；
        2010年3月26日，百度文库支持书签；
        2010年4月29日，支持文档批量上传；
        2010年7月5日，手机版文库上线；
        2010年7月23，手机文库新域名产生；8月后使用独立的积分系统；9月份，百度文库“文档专辑”新功能上线；
        2010年11月25日，百度文库正式版上线；
        2010年12月底，百度文库上线“文库书店”服务，向用户直接出售电子图书。此举意在保持原有免费的基础文库资源的同时，更好的解决与小说等相关的之前引起了一些纷争的版权问题，促进出版行业更好的发展。 [6]
        文档数量方面，该年4月13日，百度文库文档突破100万。；9月17日凌晨达到700万份，年底12月28日18:45，百度文库数量达到14504290份，并继续保持高速增长。来自官方的数据显示，截至2010年11月，百度文库占据在线文档分享市场70%以上的份额，用户主动上传文档数量超过1000万份，其中教育类文档占80%。每天，这一平台新增的文档资源数量达15万份，文档下载量为650万份，用户浏览量7000万次。 [7]
    </p>
</div>
</body>
</html>