<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <script language="javascript" type="text/javascript" src="http://www.lmjfy.com/Content/jQuery/jquery-1.7.2.min.js"></script>
</head>
<body>
    <div style="background: rgb(59,89,152);width:100%;height:auto;">
        <div style="position:relative;display: inline-block; float:right;">
         <button onclick="myFunction()" class="dropbtn" style="float:right;border:0px;background-color:rgb(59,89,152);width:100px;height:55px;color:rgb(255,255,255);font-weight: bold;font-size: 20px;">退出</button>
        </div>
        <div style="float:right;position:relative;display: inline-block;border:0px;background-color:rgb(59,89,152);width:100px;height:55px;color:rgb(255,255,255);font-weight: bold;font-size: 20px;">
            <button onclick="myFunction()" class="dropbtn" style="float:right;border:0px;background-color:rgb(59,89,152);width:100px;height:55px;color:rgb(255,255,255);font-weight: bold;font-size: 20px;">登陆</button>
        </div>

        <div style="position:relative;display: inline-block; float:right;">
            <button onclick="myFunction()" class="dropbtn" style="float:right;border:0px;background-color:rgb(59,89,152);width:100px;height:55px;color:rgb(255,255,255);font-weight: bold;font-size: 20px;">好友</button>
        </div>

        <div style="position:relative;display: inline-block; float:right;">
            <button onclick="myFunction()" class="dropbtn" style="float:right;border:0px;background-color:rgb(59,89,152);width:100px;height:55px;color:rgb(255,255,255);font-weight: bold;font-size: 20px;">私信</button>
        </div>
        <div style="position:relative;display: inline-block;float:right;">
            <button onclick="myFunction()" class="dropbtn" style="float:right;border:0px;background-color:rgb(59,89,152);width:100px;height:55px;color:rgb(255,255,255);font-weight: bold;font-size: 20px;">消息</button>
        </div>
        <div style="position:relative;display: inline-block;float:right;">
            <button onclick="myFunction()" class="dropbtn" style="float:right;border:0px;background-color:rgb(59,89,152);width:100px;height:55px;color:rgb(255,255,255);font-weight: bold;font-size: 20px;">个人信息</button>
        </div>

        <div style="position:relative;display:inline-block;float:right;">
            <br>
                           <form method="post" action="search_content">
                               <input type="textarea" name="content" placeholder="搜索..." size="30px">
                               <input type="submit" name="search"  value="搜索">
                           </form>
        </div>
        <div style="position:relative;display: inline-block;">
            <button onclick="myFunction()" class="dropbtn" style="border:0px;background-color:rgb(59,89,152);width:100px;height:55px;color:rgb(255,255,255);font-weight: bold;font-size: 20px;">校园微话</button>
        </div>
    </div>

    <div style="background-color:white;width:75%;height:auto;float:left;">
        <!--发布信息-->
        <div style="background-color:white;width:100%;height:auto;float:left;text-align:center">
                <form method="get" action="publish_content">
                        <br>
                        <textarea style="background: white;width:68%;height:100px;font-size:18px;resize: none;" type="textarea" name="to_message_content" placeholder="想要说点什么呢..."></textarea>
                        <br>
                        <div style="background-color:white;width:100%;height:auto;position:relative;left:290px;">
                            <a href="#" style="text-decoration:none;">表情</a>
                            <a href="#" style="text-decoration:none;">图片</a>
                            <a href="#" style="text-decoration:none;">视频</a>
                            <a href="#" style="text-decoration:none;">话题</a>
                            <input type="submit" name="publish_content" style="background: rgb(59,89,152);color:rgb(255,255,255);font-size: 20px;" value="发布">
                        </div>
                </form>
        </div>

        <!--正文-->
        <div style="background-color:white;width:80%;height:auto; float:left;position:relative;left:50px;">

            <div style="background-color:white;width:10%;height:auto; float:left;">
                <p align="middle">Elon Musk</p>
                <img src="C:\Users\Administrator\Desktop\课程表\elon.jpg" style="width: 100px; height: 100px;">
                <p style="font-size:10px" align="middle">11月17日 11:21</p>
            </div>

            <div style="background-color:white;width:90%;height:auto;float:left;">
                <!--内容-->
                <div style="background-color:white;width:95%;height:auto;">
                    <button onclick="myFunction()" class="dropbtn" style="float:right;border:0px;background-color:rgb(255,255,255);width:20px;height:15px;color:rgb(0,0,0);">∨</button>
                </div>
                <div style="background-color:white;width:95%;min-height:0px;height:auto; position:relative;left:10px;">
                    <p style="text-indent:1em;">US President-elect Joe Biden has said many more Americans are at the risk of dying from coronavirus, if he and incumbent President Donald Trump do not coordinate on tackling the virus outbreak.
                    </p>
                </div>
                <div style="background-color:white;width:95%;height:auto;">
                    <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                       style="font-size:10px; display:inline;position:relative;left:700px;text-decoration:none;">
                        收藏
                    </a>
                    <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                       style="font-size:10px; display:inline;position:relative;left:700px;text-decoration:none;">
                        转发
                    </a>
                    <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                       style="font-size:10px; display:inline;position:relative;left:700px;text-decoration:none;">
                        评论
                    </a>
                    <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                       style="color: #3c763d; display: inline;text-decoration:none;font-size:10px;position:relative;left:700px;">赞 99
                    </a>
                </div>


                <!--评论-->
                <div style="background-color:white;width:100%;min-height:70px;height:auto; position:relative;left:10px;">
                    <!--评论头像-->
                    <div style="background-color:white;width: 30px;height:auto; float:left;">
                        <img src="C:\Users\Administrator\Desktop\课程表\elon.jpg" style="width: 30px; height: 30px;">
                    </div>
                    <!--评论用户名-->
                    <div style="background-color:white;width:auto;height:auto; float:left;">
                         Elon Musk:
                    </div>
                    <!--评论内容-->
                    <div style="background-color:white;width:95%;height:auto;">
                        <div style="background-color:white;width:95%;height:auto;">
                            <p style="text-indent:1em;">这是评论的地方！！</p>
                        </div>

                        <!--评论底部-->
                        <div style="background-color:white;width:95%;height:auto;">
                            <p style="font-size:10px; display:inline;position:relative;left:0px;">2020年11月17日 11:21</p>
                            <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                               style="font-size:10px; display:inline;position:relative;left:580px;text-decoration:none;">
                                回复
                            </a>
                            <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                               style="color: #3c763d; display: inline;text-decoration:none;font-size:10px;position:relative;left:580px;">赞 99
                            </a>
                        </div>
                    </div>
                </div>
                <hr>
                <!--评论-->
                <div style="background-color:white;width:100%;min-height:120px;height:height:auto;position:relative;left:10px;">
                    <!--评论头像-->
                    <div style="background-color:white;width: 30px;height:auto; float:left;">
                        <img src="C:\Users\Administrator\Desktop\课程表\elon.jpg" style="width: 30px; height: 30px;">
                    </div>
                    <!--评论用户名-->
                    <div style="background-color:white;width:auto;height:auto; float:left;">
                        Elon Musk:
                    </div>
                    <!--评论内容-->
                    <div style="background-color:white;width:95%;height:auto;">
                        <!--评论正文-->
                        <div style="background-color:white;width:95%;height:auto;">
                            <p style="text-indent:1em;">这是评论的地方！！</p>
                        </div>

                        <!--评论底部-->
                        <div style="background-color:white;width:95%;height:auto;">
                            <p style="font-size:10px; display:inline;position:relative;left:0px;">2020年11月17日 11:21</p>
                            <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                               style="font-size:10px; display:inline;position:relative;left:580px;text-decoration:none;">
                                回复
                            </a>
                            <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                               style="color: #3c763d; display: inline;text-decoration:none;font-size:10px;position:relative;left:580px;">赞 99
                            </a>
                            <!--子评论-->
                            <div style="background-color:rgb(234,234,236);width:85%;min-height:70px;height:auto;float:right;">
                                <!--子评论头像-->
                                <div style="background-color:rgb(234,234,236);width: 30px;height:auto; float:left;">
                                    <img src="C:\Users\Administrator\Desktop\课程表\elon.jpg" style="width: 30px; height: 30px;">
                                </div>
                                <!--子评论用户名-->
                                <div style="background-color:rgb(234,234,236);width:auto;height:auto; float:left;">
                                    Elon Musk:
                                </div>
                                <!--子评论内容-->
                                <div style="background-color:rgb(234,234,236);width:95%;height:auto;">
                                    <!--子评论正文-->
                                    <div style="background-color:rgb(234,234,236);width:95%;height:auto;">
                                        &nbsp;&nbsp;这是评论的地方！！这是评论的地方！！这是评论的地方！！这是评论的地方！！
                                    </div>

                                    <!--子评论底部-->
                                    <div style="background-color:rgb(234,234,236);width:95%;height:auto;">
                                        <p style="font-size:10px; display:inline;position:relative;left:0px;">2020年11月17日 11:21</p>
                                        <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                                           style="font-size:10px; display:inline;position:relative;left:400px;text-decoration:none;">
                                            回复
                                        </a>
                                        <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                                           style="color: #3c763d; display: inline;text-decoration:none;font-size:10px;position:relative;left:400px;">赞 99
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

                <!--评论-->
                <div style="background-color:white;width:100%;min-height:70px;height:auto;position:relative;left:10px;">
                    <!--评论头像-->
                    <div style="background-color:white;width: 30px;height:auto; float:left;">
                        <img src="C:\Users\Administrator\Desktop\课程表\elon.jpg" style="width: 30px; height: 30px;">
                    </div>
                    <!--评论用户名-->
                    <div style="background-color:white;width:auto;height:auto; float:left;">
                        Elon Musk:
                    </div>
                    <!--评论内容-->
                    <div style="background-color:white;width:95%;height:auto;">
                        <div style="background-color:white;width:95%;height:auto;">
                            <p style="text-indent:1em;">这是评论的地方！！</p>
                        </div>

                        <!--评论底部-->
                        <div style="background-color:white;width:95%;height:auto;">
                            <p style="font-size:10px; display:inline;position:relative;left:0px;">2020年11月17日 11:21</p>
                            <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                               style="font-size:10px; display:inline;position:relative;left:580px;text-decoration:none;">
                                回复
                            </a>
                            <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                               style="color: #3c763d; display: inline;text-decoration:none;font-size:10px;position:relative;left:580px;">赞 99
                            </a>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>

        <!--正文-->
        <div style="background-color:white;width:80%;height:auto; float:left;position:relative;left:50px;">

            <div style="background-color:white;width:10%;height:auto; float:left;">
                <p align="middle">Elon Musk</p>
                <img src="C:\Users\Administrator\Desktop\课程表\elon.jpg" style="width: 100px; height: 100px;">
                <p style="font-size:10px" align="middle">11月17日 11:21</p>
            </div>

            <div style="background-color:white;width:90%;height:auto;float:left;">
                <!--内容-->
                <div style="background-color:white;width:95%;height:auto;">
                    <button onclick="myFunction()" class="dropbtn" style="float:right;border:0px;background-color:rgb(255,255,255);width:20px;height:15px;color:rgb(0,0,0);">∨</button>
                </div>
                <div style="background-color:white;width:95%;min-height:0px;height:auto; position:relative;left:10px;">
                    <p style="text-indent:1em;">US President-elect Joe Biden has said many more Americans are at the risk of dying from coronavirus, if he and incumbent President Donald Trump do not coordinate on tackling the virus outbreak.
                    </p>
                </div>
                <div style="background-color:white;width:95%;height:auto;">
                    <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                       style="font-size:10px; display:inline;position:relative;left:700px;text-decoration:none;">
                        收藏
                    </a>
                    <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                       style="font-size:10px; display:inline;position:relative;left:700px;text-decoration:none;">
                        转发
                    </a>
                    <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                       style="font-size:10px; display:inline;position:relative;left:700px;text-decoration:none;">
                        评论
                    </a>
                    <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                       style="color: #3c763d; display: inline;text-decoration:none;font-size:10px;position:relative;left:700px;">赞 99
                    </a>
                </div>


                <!--评论-->
                <div style="background-color:white;width:100%;min-height:70px;height:auto; position:relative;left:10px;">
                    <!--评论头像-->
                    <div style="background-color:white;width: 30px;height:auto; float:left;">
                        <img src="C:\Users\Administrator\Desktop\课程表\elon.jpg" style="width: 30px; height: 30px;">
                    </div>
                    <!--评论用户名-->
                    <div style="background-color:white;width:auto;height:auto; float:left;">
                        Elon Musk:
                    </div>
                    <!--评论内容-->
                    <div style="background-color:white;width:95%;height:auto;">
                        <div style="background-color:white;width:95%;height:auto;">
                            <p style="text-indent:1em;">这是评论的地方！！</p>
                        </div>

                        <!--评论底部-->
                        <div style="background-color:white;width:95%;height:auto;">
                            <p style="font-size:10px; display:inline;position:relative;left:0px;">2020年11月17日 11:21</p>
                            <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                               style="font-size:10px; display:inline;position:relative;left:580px;text-decoration:none;">
                                回复
                            </a>
                            <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                               style="color: #3c763d; display: inline;text-decoration:none;font-size:10px;position:relative;left:580px;">赞 99
                            </a>
                        </div>
                    </div>
                </div>
                <hr>
                <!--评论-->
                <div style="background-color:white;width:100%;min-height:120px;height:height:auto;position:relative;left:10px;">
                    <!--评论头像-->
                    <div style="background-color:white;width: 30px;height:auto; float:left;">
                        <img src="C:\Users\Administrator\Desktop\课程表\elon.jpg" style="width: 30px; height: 30px;">
                    </div>
                    <!--评论用户名-->
                    <div style="background-color:white;width:auto;height:auto; float:left;">
                        Elon Musk:
                    </div>
                    <!--评论内容-->
                    <div style="background-color:white;width:95%;height:auto;">
                        <!--评论正文-->
                        <div style="background-color:white;width:95%;height:auto;">
                            <p style="text-indent:1em;">这是评论的地方！！</p>
                        </div>

                        <!--评论底部-->
                        <div style="background-color:white;width:95%;height:auto;">
                            <p style="font-size:10px; display:inline;position:relative;left:0px;">2020年11月17日 11:21</p>
                            <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                               style="font-size:10px; display:inline;position:relative;left:580px;text-decoration:none;">
                                回复
                            </a>
                            <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                               style="color: #3c763d; display: inline;text-decoration:none;font-size:10px;position:relative;left:580px;">赞 99
                            </a>
                            <!--子评论-->
                            <div style="background-color:rgb(234,234,236);width:85%;min-height:70px;height:auto;float:right;">
                                <!--子评论头像-->
                                <div style="background-color:rgb(234,234,236);width: 30px;height:auto; float:left;">
                                    <img src="C:\Users\Administrator\Desktop\课程表\elon.jpg" style="width: 30px; height: 30px;">
                                </div>
                                <!--子评论用户名-->
                                <div style="background-color:rgb(234,234,236);width:auto;height:auto; float:left;">
                                    Elon Musk:
                                </div>
                                <!--子评论内容-->
                                <div style="background-color:rgb(234,234,236);width:95%;height:auto;">
                                    <!--子评论正文-->
                                    <div style="background-color:rgb(234,234,236);width:95%;height:auto;">
                                        &nbsp;&nbsp;这是评论的地方！！
                                    </div>

                                    <!--子评论底部-->
                                    <div style="background-color:rgb(234,234,236);width:95%;height:auto;">
                                        <p style="font-size:10px; display:inline;position:relative;left:0px;">2020年11月17日 11:21</p>
                                        <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                                           style="font-size:10px; display:inline;position:relative;left:400px;text-decoration:none;">
                                            回复
                                        </a>
                                        <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                                           style="color: #3c763d; display: inline;text-decoration:none;font-size:10px;position:relative;left:400px;">赞 99
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

                <!--评论-->
                <div style="background-color:white;width:100%;min-height:70px;height:auto;position:relative;left:10px;">
                    <!--评论头像-->
                    <div style="background-color:white;width: 30px;height:auto; float:left;">
                        <img src="C:\Users\Administrator\Desktop\课程表\elon.jpg" style="width: 30px; height: 30px;">
                    </div>
                    <!--评论用户名-->
                    <div style="background-color:white;width:auto;height:auto; float:left;">
                        Elon Musk:
                    </div>
                    <!--评论内容-->
                    <div style="background-color:white;width:95%;height:auto;">
                        <div style="background-color:white;width:95%;height:auto;">
                            <p style="text-indent:1em;">这是评论的地方！！</p>
                        </div>

                        <!--评论底部-->
                        <div style="background-color:white;width:95%;height:auto;">
                            <p style="font-size:10px; display:inline;position:relative;left:0px;">2020年11月17日 11:21</p>
                            <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                               style="font-size:10px; display:inline;position:relative;left:580px;text-decoration:none;">
                                回复
                            </a>
                            <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                               style="color: #3c763d; display: inline;text-decoration:none;font-size:10px;position:relative;left:580px;">赞 99
                            </a>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>


        <!--正文-->
        <div style="background-color:white;width:80%;height:auto; float:left;position:relative;left:50px;">

            <div style="background-color:white;width:10%;height:auto; float:left;">
                <p align="middle">Elon Musk</p>
                <img src="C:\Users\Administrator\Desktop\课程表\elon.jpg" style="width: 100px; height: 100px;">
                <p style="font-size:10px" align="middle">11月17日 11:21</p>
            </div>

            <div style="background-color:white;width:90%;height:auto;float:left;">
                <!--内容-->
                <div style="background-color:white;width:95%;height:auto;">
                    <button onclick="myFunction()" class="dropbtn" style="float:right;border:0px;background-color:rgb(255,255,255);width:20px;height:15px;color:rgb(0,0,0);">∨</button>
                </div>
                <div style="background-color:white;width:95%;min-height:0px;height:auto; position:relative;left:10px;">
                    <p style="text-indent:1em;">US President-elect Joe Biden has said many more Americans are at the risk of dying from coronavirus, if he and incumbent President Donald Trump do not coordinate on tackling the virus outbreak.
                    </p>
                </div>
                <div style="background-color:white;width:95%;height:auto;">
                    <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                       style="font-size:10px; display:inline;position:relative;left:700px;text-decoration:none;">
                        收藏
                    </a>
                    <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                       style="font-size:10px; display:inline;position:relative;left:700px;text-decoration:none;">
                        转发
                    </a>
                    <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                       style="font-size:10px; display:inline;position:relative;left:700px;text-decoration:none;">
                        评论
                    </a>
                    <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                       style="color: #3c763d; display: inline;text-decoration:none;font-size:10px;position:relative;left:700px;">赞 99
                    </a>
                </div>


                <!--评论-->
                <div style="background-color:white;width:100%;min-height:70px;height:auto; position:relative;left:10px;">
                    <!--评论头像-->
                    <div style="background-color:white;width: 30px;height:auto; float:left;">
                        <img src="C:\Users\Administrator\Desktop\课程表\elon.jpg" style="width: 30px; height: 30px;">
                    </div>
                    <!--评论用户名-->
                    <div style="background-color:white;width:auto;height:auto; float:left;">
                        Elon Musk:
                    </div>
                    <!--评论内容-->
                    <div style="background-color:white;width:95%;height:auto;">
                        <div style="background-color:white;width:95%;height:auto;">
                            <p style="text-indent:1em;">这是评论的地方！！</p>
                        </div>

                        <!--评论底部-->
                        <div style="background-color:white;width:95%;height:auto;">
                            <p style="font-size:10px; display:inline;position:relative;left:0px;">2020年11月17日 11:21</p>
                            <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                               style="font-size:10px; display:inline;position:relative;left:580px;text-decoration:none;">
                                回复
                            </a>
                            <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                               style="color: #3c763d; display: inline;text-decoration:none;font-size:10px;position:relative;left:580px;">赞 99
                            </a>
                        </div>
                    </div>
                </div>
                <hr>
                <!--评论-->
                <div style="background-color:white;width:100%;min-height:120px;height:height:auto;position:relative;left:10px;">
                    <!--评论头像-->
                    <div style="background-color:white;width: 30px;height:auto; float:left;">
                        <img src="C:\Users\Administrator\Desktop\课程表\elon.jpg" style="width: 30px; height: 30px;">
                    </div>
                    <!--评论用户名-->
                    <div style="background-color:white;width:auto;height:auto; float:left;">
                        Elon Musk:
                    </div>
                    <!--评论内容-->
                    <div style="background-color:white;width:95%;height:auto;">
                        <!--评论正文-->
                        <div style="background-color:white;width:95%;height:auto;">
                            <p style="text-indent:1em;">这是评论的地方！！</p>
                        </div>

                        <!--评论底部-->
                        <div style="background-color:white;width:95%;height:auto;">
                            <p style="font-size:10px; display:inline;position:relative;left:0px;">2020年11月17日 11:21</p>
                            <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                               style="font-size:10px; display:inline;position:relative;left:580px;text-decoration:none;">
                                回复
                            </a>
                            <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                               style="color: #3c763d; display: inline;text-decoration:none;font-size:10px;position:relative;left:580px;">赞 99
                            </a>
                            <!--子评论-->
                            <div style="background-color:rgb(234,234,236);width:85%;min-height:70px;height:auto;float:right;">
                                <!--子评论头像-->
                                <div style="background-color:rgb(234,234,236);width: 30px;height:auto; float:left;">
                                    <img src="C:\Users\Administrator\Desktop\课程表\elon.jpg" style="width: 30px; height: 30px;">
                                </div>
                                <!--子评论用户名-->
                                <div style="background-color:rgb(234,234,236);width:auto;height:auto; float:left;">
                                    Elon Musk:
                                </div>
                                <!--子评论内容-->
                                <div style="background-color:rgb(234,234,236);width:95%;height:auto;">
                                    <!--子评论正文-->
                                    <div style="background-color:rgb(234,234,236);width:95%;height:auto;">
                                        &nbsp;&nbsp;这是评论的地方！！
                                    </div>

                                    <!--子评论底部-->
                                    <div style="background-color:rgb(234,234,236);width:95%;height:auto;">
                                        <p style="font-size:10px; display:inline;position:relative;left:0px;">2020年11月17日 11:21</p>
                                        <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                                           style="font-size:10px; display:inline;position:relative;left:400px;text-decoration:none;">
                                            回复
                                        </a>
                                        <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                                           style="color: #3c763d; display: inline;text-decoration:none;font-size:10px;position:relative;left:400px;">赞 99
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

                <!--评论-->
                <div style="background-color:white;width:100%;min-height:70px;height:auto;position:relative;left:10px;">
                    <!--评论头像-->
                    <div style="background-color:white;width: 30px;height:auto; float:left;">
                        <img src="C:\Users\Administrator\Desktop\课程表\elon.jpg" style="width: 30px; height: 30px;">
                    </div>
                    <!--评论用户名-->
                    <div style="background-color:white;width:auto;height:auto; float:left;">
                        Elon Musk:
                    </div>
                    <!--评论内容-->
                    <div style="background-color:white;width:95%;height:auto;">
                        <div style="background-color:white;width:95%;height:auto;">
                            <p style="text-indent:1em;">这是评论的地方！！</p>
                        </div>

                        <!--评论底部-->
                        <div style="background-color:white;width:95%;height:auto;">
                            <p style="font-size:10px; display:inline;position:relative;left:0px;">2020年11月17日 11:21</p>
                            <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                               style="font-size:10px; display:inline;position:relative;left:580px;text-decoration:none;">
                                回复
                            </a>
                            <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                               style="color: #3c763d; display: inline;text-decoration:none;font-size:10px;position:relative;left:580px;">赞 99
                            </a>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>


        <!--正文-->
        <div style="background-color:white;width:80%;height:auto; float:left;position:relative;left:50px;">

            <div style="background-color:white;width:10%;height:auto; float:left;">
                <p align="middle">Elon Musk</p>
                <img src="C:\Users\Administrator\Desktop\课程表\elon.jpg" style="width: 100px; height: 100px;">
                <p style="font-size:10px" align="middle">11月17日 11:21</p>
            </div>

            <div style="background-color:white;width:90%;height:auto;float:left;">
                <!--内容-->
                <div style="background-color:white;width:95%;height:auto;">
                    <button onclick="myFunction()" class="dropbtn" style="float:right;border:0px;background-color:rgb(255,255,255);width:20px;height:15px;color:rgb(0,0,0);">∨</button>
                </div>
                <div style="background-color:white;width:95%;min-height:0px;height:auto; position:relative;left:10px;">
                    <p style="text-indent:1em;">US President-elect Joe Biden has said many more Americans are at the risk of dying from coronavirus, if he and incumbent President Donald Trump do not coordinate on tackling the virus outbreak.
                    </p>
                </div>
                <div style="background-color:white;width:95%;height:auto;">
                    <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                       style="font-size:10px; display:inline;position:relative;left:700px;text-decoration:none;">
                        收藏
                    </a>
                    <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                       style="font-size:10px; display:inline;position:relative;left:700px;text-decoration:none;">
                        转发
                    </a>
                    <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                       style="font-size:10px; display:inline;position:relative;left:700px;text-decoration:none;">
                        评论
                    </a>
                    <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                       style="color: #3c763d; display: inline;text-decoration:none;font-size:10px;position:relative;left:700px;">赞 99
                    </a>
                </div>


                <!--评论-->
                <div style="background-color:white;width:100%;min-height:70px;height:auto; position:relative;left:10px;">
                    <!--评论头像-->
                    <div style="background-color:white;width: 30px;height:auto; float:left;">
                        <img src="C:\Users\Administrator\Desktop\课程表\elon.jpg" style="width: 30px; height: 30px;">
                    </div>
                    <!--评论用户名-->
                    <div style="background-color:white;width:auto;height:auto; float:left;">
                        Elon Musk:
                    </div>
                    <!--评论内容-->
                    <div style="background-color:white;width:95%;height:auto;">
                        <div style="background-color:white;width:95%;height:auto;">
                            <p style="text-indent:1em;">这是评论的地方！！</p>
                        </div>

                        <!--评论底部-->
                        <div style="background-color:white;width:95%;height:auto;">
                            <p style="font-size:10px; display:inline;position:relative;left:0px;">2020年11月17日 11:21</p>
                            <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                               style="font-size:10px; display:inline;position:relative;left:580px;text-decoration:none;">
                                回复
                            </a>
                            <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                               style="color: #3c763d; display: inline;text-decoration:none;font-size:10px;position:relative;left:580px;">赞 99
                            </a>
                        </div>
                    </div>
                </div>
                <hr>
                <!--评论-->
                <div style="background-color:white;width:100%;min-height:120px;height:height:auto;position:relative;left:10px;">
                    <!--评论头像-->
                    <div style="background-color:white;width: 30px;height:auto; float:left;">
                        <img src="C:\Users\Administrator\Desktop\课程表\elon.jpg" style="width: 30px; height: 30px;">
                    </div>
                    <!--评论用户名-->
                    <div style="background-color:white;width:auto;height:auto; float:left;">
                        Elon Musk:
                    </div>
                    <!--评论内容-->
                    <div style="background-color:white;width:95%;height:auto;">
                        <!--评论正文-->
                        <div style="background-color:white;width:95%;height:auto;">
                            <p style="text-indent:1em;">这是评论的地方！！</p>
                        </div>

                        <!--评论底部-->
                        <div style="background-color:white;width:95%;height:auto;">
                            <p style="font-size:10px; display:inline;position:relative;left:0px;">2020年11月17日 11:21</p>
                            <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                               style="font-size:10px; display:inline;position:relative;left:580px;text-decoration:none;">
                                回复
                            </a>
                            <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                               style="color: #3c763d; display: inline;text-decoration:none;font-size:10px;position:relative;left:580px;">赞 99
                            </a>
                            <!--子评论-->
                            <div style="background-color:rgb(234,234,236);width:85%;min-height:70px;height:auto;float:right;">
                                <!--子评论头像-->
                                <div style="background-color:rgb(234,234,236);width: 30px;height:auto; float:left;">
                                    <img src="C:\Users\Administrator\Desktop\课程表\elon.jpg" style="width: 30px; height: 30px;">
                                </div>
                                <!--子评论用户名-->
                                <div style="background-color:rgb(234,234,236);width:auto;height:auto; float:left;">
                                    Elon Musk:
                                </div>
                                <!--子评论内容-->
                                <div style="background-color:rgb(234,234,236);width:95%;height:auto;">
                                    <!--子评论正文-->
                                    <div style="background-color:rgb(234,234,236);width:95%;height:auto;">
                                        &nbsp;&nbsp;这是评论的地方！！
                                    </div>

                                    <!--子评论底部-->
                                    <div style="background-color:rgb(234,234,236);width:95%;height:auto;">
                                        <p style="font-size:10px; display:inline;position:relative;left:0px;">2020年11月17日 11:21</p>
                                        <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                                           style="font-size:10px; display:inline;position:relative;left:400px;text-decoration:none;">
                                            回复
                                        </a>
                                        <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                                           style="color: #3c763d; display: inline;text-decoration:none;font-size:10px;position:relative;left:400px;">赞 99
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

                <!--评论-->
                <div style="background-color:white;width:100%;min-height:70px;height:auto;position:relative;left:10px;">
                    <!--评论头像-->
                    <div style="background-color:white;width: 30px;height:auto; float:left;">
                        <img src="C:\Users\Administrator\Desktop\课程表\elon.jpg" style="width: 30px; height: 30px;">
                    </div>
                    <!--评论用户名-->
                    <div style="background-color:white;width:auto;height:auto; float:left;">
                        Elon Musk:
                    </div>
                    <!--评论内容-->
                    <div style="background-color:white;width:95%;height:auto;">
                        <div style="background-color:white;width:95%;height:auto;">
                            <p style="text-indent:1em;">这是评论的地方！！</p>
                        </div>

                        <!--评论底部-->
                        <div style="background-color:white;width:95%;height:auto;">
                            <p style="font-size:10px; display:inline;position:relative;left:0px;">2020年11月17日 11:21</p>
                            <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                               style="font-size:10px; display:inline;position:relative;left:580px;text-decoration:none;">
                                回复
                            </a>
                            <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                               style="color: #3c763d; display: inline;text-decoration:none;font-size:10px;position:relative;left:580px;">赞 99
                            </a>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>

        <!--正文-->
        <div style="background-color:white;width:80%;height:auto; float:left;position:relative;left:50px;">

            <div style="background-color:white;width:10%;height:auto; float:left;">
                <p align="middle">Elon Musk</p>
                <img src="C:\Users\Administrator\Desktop\课程表\elon.jpg" style="width: 100px; height: 100px;">
                <p style="font-size:10px" align="middle">11月17日 11:21</p>
            </div>

            <div style="background-color:white;width:90%;height:auto;float:left;">
                <!--内容-->
                <div style="background-color:white;width:95%;height:auto;">
                    <button onclick="myFunction()" class="dropbtn" style="float:right;border:0px;background-color:rgb(255,255,255);width:20px;height:15px;color:rgb(0,0,0);">∨</button>
                </div>
                <div style="background-color:white;width:95%;min-height:0px;height:auto; position:relative;left:10px;">
                    <p style="text-indent:1em;">US President-elect Joe Biden has said many more Americans are at the risk of dying from coronavirus, if he and incumbent President Donald Trump do not coordinate on tackling the virus outbreak.
                    </p>
                </div>
                <div style="background-color:white;width:95%;height:auto;">
                    <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                       style="font-size:10px; display:inline;position:relative;left:700px;text-decoration:none;">
                        收藏
                    </a>
                    <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                       style="font-size:10px; display:inline;position:relative;left:700px;text-decoration:none;">
                        转发
                    </a>
                    <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                       style="font-size:10px; display:inline;position:relative;left:700px;text-decoration:none;">
                        评论
                    </a>
                    <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                       style="color: #3c763d; display: inline;text-decoration:none;font-size:10px;position:relative;left:700px;">赞 99
                    </a>
                </div>


                <!--评论-->
                <div style="background-color:white;width:100%;min-height:70px;height:auto; position:relative;left:10px;">
                    <!--评论头像-->
                    <div style="background-color:white;width: 30px;height:auto; float:left;">
                        <img src="C:\Users\Administrator\Desktop\课程表\elon.jpg" style="width: 30px; height: 30px;">
                    </div>
                    <!--评论用户名-->
                    <div style="background-color:white;width:auto;height:auto; float:left;">
                        Elon Musk:
                    </div>
                    <!--评论内容-->
                    <div style="background-color:white;width:95%;height:auto;">
                        <div style="background-color:white;width:95%;height:auto;">
                            <p style="text-indent:1em;">这是评论的地方！！</p>
                        </div>

                        <!--评论底部-->
                        <div style="background-color:white;width:95%;height:auto;">
                            <p style="font-size:10px; display:inline;position:relative;left:0px;">2020年11月17日 11:21</p>
                            <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                               style="font-size:10px; display:inline;position:relative;left:580px;text-decoration:none;">
                                回复
                            </a>
                            <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                               style="color: #3c763d; display: inline;text-decoration:none;font-size:10px;position:relative;left:580px;">赞 99
                            </a>
                        </div>
                    </div>
                </div>
                <hr>
                <!--评论-->
                <div style="background-color:white;width:100%;min-height:120px;height:height:auto;position:relative;left:10px;">
                    <!--评论头像-->
                    <div style="background-color:white;width: 30px;height:auto; float:left;">
                        <img src="C:\Users\Administrator\Desktop\课程表\elon.jpg" style="width: 30px; height: 30px;">
                    </div>
                    <!--评论用户名-->
                    <div style="background-color:white;width:auto;height:auto; float:left;">
                        Elon Musk:
                    </div>
                    <!--评论内容-->
                    <div style="background-color:white;width:95%;height:auto;">
                        <!--评论正文-->
                        <div style="background-color:white;width:95%;height:auto;">
                            <p style="text-indent:1em;">这是评论的地方！！</p>
                        </div>

                        <!--评论底部-->
                        <div style="background-color:white;width:95%;height:auto;">
                            <p style="font-size:10px; display:inline;position:relative;left:0px;">2020年11月17日 11:21</p>
                            <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                               style="font-size:10px; display:inline;position:relative;left:580px;text-decoration:none;">
                                回复
                            </a>
                            <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                               style="color: #3c763d; display: inline;text-decoration:none;font-size:10px;position:relative;left:580px;">赞 99
                            </a>
                            <!--子评论-->
                            <div style="background-color:rgb(234,234,236);width:85%;min-height:70px;height:auto;float:right;">
                                <!--子评论头像-->
                                <div style="background-color:rgb(234,234,236);width: 30px;height:auto; float:left;">
                                    <img src="C:\Users\Administrator\Desktop\课程表\elon.jpg" style="width: 30px; height: 30px;">
                                </div>
                                <!--子评论用户名-->
                                <div style="background-color:rgb(234,234,236);width:auto;height:auto; float:left;">
                                    Elon Musk:
                                </div>
                                <!--子评论内容-->
                                <div style="background-color:rgb(234,234,236);width:95%;height:auto;">
                                    <!--子评论正文-->
                                    <div style="background-color:rgb(234,234,236);width:95%;height:auto;">
                                        &nbsp;&nbsp;这是评论的地方！！
                                    </div>

                                    <!--子评论底部-->
                                    <div style="background-color:rgb(234,234,236);width:95%;height:auto;">
                                        <p style="font-size:10px; display:inline;position:relative;left:0px;">2020年11月17日 11:21</p>
                                        <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                                           style="font-size:10px; display:inline;position:relative;left:400px;text-decoration:none;">
                                            回复
                                        </a>
                                        <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                                           style="color: #3c763d; display: inline;text-decoration:none;font-size:10px;position:relative;left:400px;">赞 99
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

                <!--评论-->
                <div style="background-color:white;width:100%;min-height:70px;height:auto;position:relative;left:10px;">
                    <!--评论头像-->
                    <div style="background-color:white;width: 30px;height:auto; float:left;">
                        <img src="C:\Users\Administrator\Desktop\课程表\elon.jpg" style="width: 30px; height: 30px;">
                    </div>
                    <!--评论用户名-->
                    <div style="background-color:white;width:auto;height:auto; float:left;">
                        Elon Musk:
                    </div>
                    <!--评论内容-->
                    <div style="background-color:white;width:95%;height:auto;">
                        <div style="background-color:white;width:95%;height:auto;">
                            <p style="text-indent:1em;">这是评论的地方！！</p>
                        </div>

                        <!--评论底部-->
                        <div style="background-color:white;width:95%;height:auto;">
                            <p style="font-size:10px; display:inline;position:relative;left:0px;">2020年11月17日 11:21</p>
                            <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                               style="font-size:10px; display:inline;position:relative;left:580px;text-decoration:none;">
                                回复
                            </a>
                            <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                               style="color: #3c763d; display: inline;text-decoration:none;font-size:10px;position:relative;left:580px;">赞 99
                            </a>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>


        <!--分页-->
        <div align="middle" style="background-color:white;width:80%;height:auto; float:left;position:relative;left:50px;">

            <span>上一页</span>
            <a href="#" style="text-decoration:none;">1</a>
            <a href="#" style="text-decoration:none;">2</a>
            <a href="#" style="text-decoration:none;">3</a>
            <a href="#" style="text-decoration:none;">4</a>
            <a href="#" style="text-decoration:none;">5</a>
            <a href="#" style="text-decoration:none;">6</a>
            <span>下一页</span>
        </div>
        <br>
        <div align="middle" style="background-color:white;width:80%;height:auto; float:left;position:relative;left:50px;">
            Powered By Student Of BeiJing JiaoTong University
        </div>
    </div>

    <div style="background-color:white;width:25%;height:600px;float:left;position:fixed;left:1135px;">
        <p align="middle"><font size="20">热门内容</font></p>
        <p align="middle"> #四级考试# </p>
        <p align="middle"> #交友# </p>
        <p align="middle"> #社团活动# </p>
    </div>
</body>
<script>
</script>
</html>