<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</head>
<body>
    <div style="background: rgb(59,89,152); height:8%; width: 100%;">
        <button onclick="myFunction()" class="dropbtn" style="border:0px;background-color:rgb(59,89,152);width:100px;height:55px;color:rgb(255,255,255);font-weight: bold;font-size: 20px;">TT英语角</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div style="position:relative;display: inline-block;">
            <form method="post" action="search_content">
                <input type="textarea" name="content" placeholder="搜索..." size="30px">
                <input type="submit" name="login" align="right" value="搜索">
            </form>
        </div>
        <div style="position:relative;display: inline-block;border:0px;background-color:rgb(59,89,152);width:100px;height:55px;color:rgb(255,255,255);font-weight: bold;font-size: 20px;">
            <button onclick="myFunction()" class="dropbtn" style="border:0px;background-color:rgb(59,89,152);width:100px;height:55px;color:rgb(255,255,255);font-weight: bold;font-size: 20px;">新建社区</button>
        </div>
        <button onclick="myFunction()" class="dropbtn" style="border:0px;background-color:rgb(59,89,152);width:100px;height:55px;color:rgb(255,255,255);font-weight: bold;font-size: 20px;">好友</button>
        <button onclick="myFunction()" class="dropbtn" style="border:0px;background-color:rgb(59,89,152);width:100px;height:55px;color:rgb(255,255,255);font-weight: bold;font-size: 20px;">个人信息</button>
        <button onclick="myFunction()" class="dropbtn" style="border:0px;background-color:rgb(59,89,152);width:100px;height:55px;color:rgb(255,255,255);font-weight: bold;font-size: 20px;">消息</button>
        <button onclick="myFunction()" class="dropbtn" style="border:0px;background-color:rgb(59,89,152);width:100px;height:55px;color:rgb(255,255,255);font-weight: bold;font-size: 20px;">私信</button>
        <button onclick="myFunction()" class="dropbtn" style="border:0px;background-color:rgb(59,89,152);width:100px;height:55px;color:rgb(255,255,255);font-weight: bold;font-size: 20px;">登陆</button>
        <button onclick="myFunction()" class="dropbtn" style="border:0px;background-color:rgb(59,89,152);width:100px;height:55px;color:rgb(255,255,255);font-weight: bold;font-size: 20px;">退出</button>
    </div>

    <div style="background-color:white;width:75%;height:200px; float:left;">

                <form method="get" action="publish_content">
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<!--                   <input type="textarea" name="content" placeholder="内容..." size="100px" style="width:1000px;height:100px;">-->
                    <textarea rows="XX" cols="XX"  style="background: white;width:1000px;height:100px;" type="textarea" name="to_message_content" placeholder="内容..."></textarea>
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="submit" name="publish_content" style="background: rgb(59,89,152);color:rgb(255,255,255);font-size: 20px;"  value="发布">
                </form>




        <div style="background-color:white;width:100%;height:auto; float:left;">

            <div style="background-color:white;width:10%;height:auto; float:left;">
                <p align="middle">Elon Musk</p>
                <img src="C:\Users\Administrator\Desktop\课程表\elon.jpg" style="width: 100px; height: 100px;">
                <p style="font-size:10px" align="middle">11月17日 11:21</p>
                <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)" style="color: #3c763d; display: inline;text-decoration:none;">赞 99</a>
                <a href="JavaScript:void(0)" v-on:click="disagree_content(content.id,content.username)" style="color: #a94442; display:inline;display: inline;text-decoration:none;">踩 1</a>
            </div>

            <div style="background-color:white;width:90%;height:auto; float:left;">
                <!--内容-->
                <div style="background-color:white;width:95%;min-height:0px;height:auto;">
                    <p style="text-indent:2em;">这是第一段内容US President-elect Joe Biden has said many more Americans are at the risk of dying from coronavirus, if he and incumbent President Donald Trump do not coordinate on tackling the virus outbreak.
                    </p>
                </div>


                <!--评论-->
                <div style="background-color:white;width:100%;min-height:70px;height:auto;">
                    <div style="background-color:white;width: 30px;height:auto; float:left;">
                        <p><img src="C:\Users\Administrator\Desktop\课程表\elon.jpg" style="width: 30px; height: 30px;"></p>
                    </div>
                    <div style="background-color:white;width:auto;height:auto; float:left;">
                        <div style="background-color:white;width:auto;height:auto; float:up;">
                            <p align="middle">Elon Musk</p>
                        </div>
                        <div style="background-color:white;width:auto;height:auto; float:down;">
                            <p style="font-size:10px">2020年11月17日 11:21</p>
                        </div>
                    </div>
                    <div style="background-color:white;width:95%;height:auto;">
                        <div style="background-color:white;width:95%;height:auto;">
                        <p style="text-indent:2em;">
                        这是评论的地方！！
                        </p>
                        </div>

                        <div style="background-color:white;width:95%;height:auto;">
                            <p style="font-size:10px; ">
                                2020年11月17日 11:21
                            </p>
                            <p style="font-size:10px;">
                                回复
                            </p>
                        </div>
                    </div>
                </div>
                <hr>
                <!--评论-->
                <div style="background-color:white;width:100%;min-height:70px;height:auto;">
                    <div style="background-color:white;width: 30px;height:auto; float:left;">
                        <p><img src="C:\Users\Administrator\Desktop\课程表\elon.jpg" style="width: 30px; height: 30px;"></p>
                    </div>
                    <div style="background-color:white;width:auto;height:auto; float:left;">
                        <div style="background-color:white;width:auto;height:auto; float:up;">
                            <p align="middle">Elon Musk</p>
                        </div>
                        <div style="background-color:white;width:auto;height:auto; float:down;">
                            <p style="font-size:10px">2020年11月17日 11:21</p>
                        </div>
                    </div>
                    <div style="background-color:white;width:95%;height:auto;">
                        <p style="text-indent:2em;">
                            这是第二条评论区，评论的内容就是这些呢
                        </p>
                    </div>
                </div>
                <hr>
                <!--评论-->
                <div style="background-color:white;width:100%;min-height:70px;height:auto;">
                    <div style="background-color:white;width: 30px;height:auto; float:left;">
                        <p><img src="C:\Users\Administrator\Desktop\课程表\elon.jpg" style="width: 30px; height: 30px;"></p>
                    </div>
                    <div style="background-color:white;width:auto;height:auto; float:left;">
                        <div style="background-color:white;width:auto;height:auto; float:up;">
                            <p align="middle">Elon Musk</p>
                        </div>
                        <div style="background-color:white;width:auto;height:auto; float:down;">
                            <p style="font-size:10px">2020年11月17日 11:21</p>
                        </div>
                    </div>
                    <div style="background-color:white;width:95%;height:auto;">
                        <p style="text-indent:2em;">
                            这是第二条评论区，评论的内容就是这些呢
                        </p>
                    </div>
                </div>
                <hr>
                <!--评论-->
                <div style="background-color:white;width:100%;min-height:70px;height:auto;">
                    <div style="background-color:white;width: 30px;height:auto; float:left;">
                        <p><img src="C:\Users\Administrator\Desktop\课程表\elon.jpg" style="width: 30px; height: 30px;"></p>
                    </div>
                    <div style="background-color:white;width:auto;height:auto; float:left;">
                        <div style="background-color:white;width:auto;height:auto; float:up;">
                            <p align="middle">Elon Musk</p>
                        </div>
                        <div style="background-color:white;width:auto;height:auto; float:down;">
                            <p style="font-size:10px">2020年11月17日 11:21</p>
                        </div>
                    </div>
                    <div style="background-color:white;width:95%;height:auto;">
                        <p style="text-indent:2em;">
                            这是第二条评论区，评论的内容就是这些呢
                        </p>
                    </div>
                </div>
                <hr>
                <!--评论-->
                <div style="background-color:white;width:100%;min-height:70px;height:auto;">
                    <div style="background-color:white;width: 30px;height:auto; float:left;">
                        <p><img src="C:\Users\Administrator\Desktop\课程表\elon.jpg" style="width: 30px; height: 30px;"></p>
                    </div>
                    <div style="background-color:white;width:auto;height:auto; float:left;">
                        <div style="background-color:white;width:auto;height:auto; float:up;">
                            <p align="middle">Elon Musk</p>
                        </div>
                        <div style="background-color:white;width:auto;height:auto; float:down;">
                            <p style="font-size:10px">2020年11月17日 11:21</p>
                        </div>
                    </div>
                    <div style="background-color:white;width:95%;height:auto;">
                        <p style="text-indent:2em;">
                            这是第二条评论区，评论的内容就是这些呢
                        </p>
                    </div>
                </div>
                <hr>
                <!--评论-->
                <div style="background-color:white;width:100%;min-height:70px;height:auto;">
                    <div style="background-color:white;width: 30px;height:auto; float:left;">
                        <p><img src="C:\Users\Administrator\Desktop\课程表\elon.jpg" style="width: 30px; height: 30px;"></p>
                    </div>
                    <div style="background-color:white;width:auto;height:auto; float:left;">
                        <div style="background-color:white;width:auto;height:auto; float:up;">
                            <p align="middle">Elon Musk</p>
                        </div>
                        <div style="background-color:white;width:auto;height:auto; float:down;">
                            <p style="font-size:10px">2020年11月17日 11:21</p>
                        </div>
                    </div>
                    <div style="background-color:white;width:95%;height:auto;">
                        <p style="text-indent:2em;">
                            这是第二条评论区，评论的内容就是这些呢
                        </p>
                    </div>
                </div>
                <hr>
            </div>
        </div>

        <div style="background-color:white;width:100%;height:auto; float:left;">

            <div style="background-color:white;width:10%;height:auto; float:left;">
                <p>Elon Musk</p>
                <img src="C:\Users\Administrator\Desktop\课程表\elon.jpg" style="width: 100px; height: 100px;">
                <p style="font-size:10px">11月17日 11:21</p>
            </div>

            <div style="background-color:white;width:90%;height:auto; float:left;">
                <div style="background-color:white;width:90%;min-height:0px;height:auto;">
                    <p style="text-indent:2em;">这是第一段内容US President-elect Joe Biden has said many more Americans are at the risk of dying from coronavirus, if he and incumbent President Donald Trump do not coordinate on tackling the virus outbreak.
                    </p>
                </div>
                <div style="background-color:white;width:100%;height:auto;">
                    <div style="background-color:white;width: 30px;height:auto; float:left;">
                        <p><img src="C:\Users\Administrator\Desktop\课程表\elon.jpg" style="width: 30px; height: 30px;"></p>
                    </div>
                    <div style="background-color:white;width:auto;height:auto; float:left;">
                        <div style="background-color:white;width:auto;height:auto; float:up;">
                            <p>Elon Musk</p>
                        </div>
                        <div style="background-color:white;width:auto;height:auto; float:down;">
                            <p style="font-size:10px">2020年11月17日 11:21</p>
                        </div>
                    </div>
                    <div style="background-color:white;width:90%;height:auto;">
                        <p style="text-indent:2em;">这里是评论区，评论一些重要的内容！
                            这里是评论区，评论一些重要的内容！
                            这里是评论区，评论一些重要的内容！这里是评论区，评论一些重要的内容！这里是评论区,我们还可以选择去
                            或许有那么一些重要这里是评论区，评论一些重要的内容！
                            这里是评论区，评论一些重要的内容！
                            这里是评论区，评论一些重要的内容！这里是评论区，评论一些重要的内容！这里是评论区,我们还可以选择去
                            或许有那么一些重要
                            的事情吧!
                        </p>
                    </div><br>
                </div>
            </div>
        </div>

        <div style="background-color:white;width:100%;height:auto; float:left;">

            <div style="background-color:white;width:10%;height:auto; float:left;">
                <p>Elon Musk</p>
                <img src="C:\Users\Administrator\Desktop\课程表\elon.jpg" style="width: 100px; height: 100px;">
                <p style="font-size:10px">11月17日 11:21</p>
            </div>

            <div style="background-color:white;width:90%;height:auto; float:left;">
                <div style="background-color:white;width:90%;min-height:0px;height:auto;">
                    <p style="text-indent:2em;">这是第一段内容US President-elect Joe Biden has said many more Americans are at the risk of dying from coronavirus, if he and incumbent President Donald Trump do not coordinate on tackling the virus outbreak.
                    </p>
                </div>
                <div style="background-color:white;width:100%;height:auto;">
                    <div style="background-color:white;width: 30px;height:auto; float:left;">
                        <p><img src="C:\Users\Administrator\Desktop\课程表\elon.jpg" style="width: 30px; height: 30px;"></p>
                    </div>
                    <div style="background-color:white;width:auto;height:auto; float:left;">
                        <div style="background-color:white;width:auto;height:auto; float:up;">
                            <p>Elon Musk</p>
                        </div>
                        <div style="background-color:white;width:auto;height:auto; float:down;">
                            <p style="font-size:10px">2020年11月17日 11:21</p>
                        </div>
                    </div>
                    <div style="background-color:white;width:90%;height:auto;">
                        <p style="text-indent:2em;">这里是评论区，评论一些重要的内容！
                            这里是评论区，评论一些重要的内容！
                            这里是评论区，评论一些重要的内容！这里是评论区，评论一些重要的内容！这里是评论区,我们还可以选择去
                            或许有那么一些重要这里是评论区，评论一些重要的内容！
                            这里是评论区，评论一些重要的内容！
                            这里是评论区，评论一些重要的内容！这里是评论区，评论一些重要的内容！这里是评论区,我们还可以选择去
                            或许有那么一些重要
                            的事情吧!
                        </p>
                    </div><br>
                </div>
            </div>
        </div>
        <div style="background-color:white;width:100%;height:auto; float:left;">

            <div style="background-color:white;width:10%;height:auto; float:left;">
                <p>Elon Musk</p>
                <img src="C:\Users\Administrator\Desktop\课程表\elon.jpg" style="width: 100px; height: 100px;">
                <p style="font-size:10px">11月17日 11:21</p>
            </div>

            <div style="background-color:white;width:90%;height:auto; float:left;">
                <div style="background-color:white;width:90%;min-height:0px;height:auto;">
                    <p style="text-indent:2em;">这是第一段内容US President-elect Joe Biden has said many more Americans are at the risk of dying from coronavirus, if he and incumbent President Donald Trump do not coordinate on tackling the virus outbreak.
                    </p>
                </div>
                <div style="background-color:white;width:100%;height:auto;">
                    <div style="background-color:white;width: 30px;height:auto; float:left;">
                        <p><img src="C:\Users\Administrator\Desktop\课程表\elon.jpg" style="width: 30px; height: 30px;"></p>
                    </div>
                    <div style="background-color:white;width:auto;height:auto; float:left;">
                        <div style="background-color:white;width:auto;height:auto; float:up;">
                            <p>Elon Musk</p>
                        </div>
                        <div style="background-color:white;width:auto;height:auto; float:down;">
                            <p style="font-size:10px">2020年11月17日 11:21</p>
                        </div>
                    </div>
                    <div style="background-color:white;width:90%;height:auto;">
                        <p style="text-indent:2em;">这里是评论区，评论一些重要的内容！
                            这里是评论区，评论一些重要的内容！
                            这里是评论区，评论一些重要的内容！这里是评论区，评论一些重要的内容！这里是评论区,我们还可以选择去
                            或许有那么一些重要这里是评论区，评论一些重要的内容！
                            这里是评论区，评论一些重要的内容！
                            这里是评论区，评论一些重要的内容！这里是评论区，评论一些重要的内容！这里是评论区,我们还可以选择去
                            或许有那么一些重要
                            的事情吧!
                        </p>
                    </div><br>
                </div>
            </div>
        </div>
        <div style="background-color:white;width:100%;height:auto; float:left;">

            <div style="background-color:white;width:10%;height:auto; float:left;">
                <p>Elon Musk</p>
                <img src="C:\Users\Administrator\Desktop\课程表\elon.jpg" style="width: 100px; height: 100px;">
                <p style="font-size:10px">11月17日 11:21</p>
            </div>

            <div style="background-color:white;width:90%;height:auto; float:left;">
                <div style="background-color:white;width:90%;min-height:0px;height:auto;">
                    <p style="text-indent:2em;">这是第一段内容US President-elect Joe Biden has said many more Americans are at the risk of dying from coronavirus, if he and incumbent President Donald Trump do not coordinate on tackling the virus outbreak.
                    </p>
                </div>
                <div style="background-color:white;width:100%;height:auto;">
                    <div style="background-color:white;width: 30px;height:auto; float:left;">
                        <p><img src="C:\Users\Administrator\Desktop\课程表\elon.jpg" style="width: 30px; height: 30px;"></p>
                    </div>
                    <div style="background-color:white;width:auto;height:auto; float:left;">
                        <div style="background-color:white;width:auto;height:auto; float:up;">
                            <p>Elon Musk</p>
                        </div>
                        <div style="background-color:white;width:auto;height:auto; float:down;">
                            <p style="font-size:10px">2020年11月17日 11:21</p>
                        </div>
                    </div>
                    <div style="background-color:white;width:90%;height:auto;">
                        <p style="text-indent:2em;">这里是评论区，评论一些重要的内容！
                            这里是评论区，评论一些重要的内容！
                            这里是评论区，评论一些重要的内容！这里是评论区，评论一些重要的内容！这里是评论区,我们还可以选择去
                            或许有那么一些重要这里是评论区，评论一些重要的内容！
                            这里是评论区，评论一些重要的内容！
                            这里是评论区，评论一些重要的内容！这里是评论区，评论一些重要的内容！这里是评论区,我们还可以选择去
                            或许有那么一些重要
                            的事情吧!
                        </p>
                    </div><br>
                </div>
            </div>
        </div>
    </div>

    <div style="background-color:white;width:25%;height:600px;float:left;position:fixed;left:1135px;">
        <p> 这里是需要展示的兴趣列表 </p>
    </div>
</body>
<script>

</script>
</html>