<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</head>
<body>
    <div style="background: rgb(59,89,152); height:8%; width: 100%;">
        <div style="position:relative;display: inline-block; float:right;">
         <button onclick="myFunction()" class="dropbtn" style="float:right;border:0px;background-color:rgb(59,89,152);width:100px;height:55px;color:rgb(255,255,255);font-weight: bold;font-size: 20px;">退出</button>
        </div>



        <div style="float:right;position:relative;display: inline-block;border:0px;background-color:rgb(59,89,152);width:100px;height:55px;color:rgb(255,255,255);font-weight: bold;font-size: 20px;">
            <button onclick="myFunction()" class="dropbtn" style="float:right;border:0px;background-color:rgb(59,89,152);width:100px;height:55px;color:rgb(255,255,255);font-weight: bold;font-size: 20px;">登陆</button>
        </div>

        <div style="position:relative;display: inline-block; float:right;">
            <button onclick="myFunction()" class="dropbtn" style="float:right;border:0px;background-color:rgb(59,89,152);width:100px;height:55px;color:rgb(255,255,255);font-weight: bold;font-size: 20px;">好友</button>
        </div>

        <div style="position:relative;display: inline-block; float:right;">
            <button onclick="myFunction()" class="dropbtn" style="float:right;border:0px;background-color:rgb(59,89,152);width:100px;height:55px;color:rgb(255,255,255);font-weight: bold;font-size: 20px;">私信</button>
        </div>
        <div style="position:relative;display: inline-block;float:right;">
            <button onclick="myFunction()" class="dropbtn" style="float:right;border:0px;background-color:rgb(59,89,152);width:100px;height:55px;color:rgb(255,255,255);font-weight: bold;font-size: 20px;">消息</button>
        </div>
        <div style="position:relative;display: inline-block;float:right;">
            <button onclick="myFunction()" class="dropbtn" style="float:right;border:0px;background-color:rgb(59,89,152);width:100px;height:55px;color:rgb(255,255,255);font-weight: bold;font-size: 20px;">个人资料</button>
        </div>

        <div style="position:relative;display:inline-block;float:right;">
            <br>
                           <form method="post" action="search_content">
                               <input type="textarea" name="content" placeholder="搜索..." size="30px">
                               <input type="submit" name="search"  value="搜索">
                           </form>
        </div>
        <div style="position:relative;display: inline-block;">
            <button onclick="myFunction()" class="dropbtn" style="border:0px;background-color:rgb(59,89,152);width:100px;height:55px;color:rgb(255,255,255);font-weight: bold;font-size: 20px;">TT英语角</button>
        </div>
    </div>

    <div style="background-color:white;width:75%;height:auto;float:left;">
        <div style="background-color:white;width:100%;height:auto;float:left;text-align:center">
                <form method="get" action="publish_content">
                        <br>
                        <textarea style="background: white;width:68%;height:100px;font-size:18px;resize: none;" type="textarea" name="to_message_content" placeholder="内容..."></textarea>
                        <br>
                        <div style="background-color:white;width:100%;height:auto;position:relative;left:360px;">
                        <input type="submit" name="publish_content" style="background: rgb(59,89,152);color:rgb(255,255,255);font-size: 20px;" value="发布">
                        </div>
                </form>
        </div>
        <div style="background-color:white;width:100%;height:auto; float:left;">

            <div style="background-color:white;width:10%;height:auto; float:left;">
                <p align="middle">Elon Musk</p>
                <img src="C:\Users\Administrator\Desktop\课程表\elon.jpg" style="width: 100px; height: 100px;">
                <p style="font-size:10px" align="middle">11月17日 11:21</p>
            </div>

            <div style="background-color:white;width:90%;height:auto; float:left;">
                <!--内容-->
                <div style="background-color:white;width:95%;height:auto;">
                    <button onclick="myFunction()" class="dropbtn" style="float:right;border:0px;background-color:rgb(255,255,255);width:20px;height:15px;color:rgb(0,0,0);">∨</button>
                </div>
                <div style="background-color:white;width:95%;min-height:0px;height:auto;">
                    <p>US President-elect Joe Biden has said many more Americans are at the risk of dying from coronavirus, if he and incumbent President Donald Trump do not coordinate on tackling the virus outbreak.
                    </p>
                </div>
                <div style="background-color:white;width:95%;height:auto;">
                    <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                       style="font-size:10px; display:inline;position:relative;left:750px;text-decoration:none;">
                        收藏
                    </a>
                    <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                       style="font-size:10px; display:inline;position:relative;left:800px;text-decoration:none;">
                        转发
                    </a>
                    <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                       style="font-size:10px; display:inline;position:relative;left:850px;text-decoration:none;">
                        评论
                    </a>
                    <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                       style="color: #3c763d; display: inline;text-decoration:none;font-size:10px;position:relative;left:900px;">赞 99
                    </a>
                </div>


                <!--评论-->
                <div style="background-color:white;width:100%;min-height:70px;height:auto;">
                    <div style="background-color:white;width: 30px;height:auto; float:left;">
                        <p><img src="C:\Users\Administrator\Desktop\课程表\elon.jpg" style="width: 30px; height: 30px;"></p>
                    </div>
                    <div style="background-color:white;width:auto;height:auto; float:left;">
                        <div style="background-color:white;width:auto;height:auto; float:up;">
                            <p align="middle">Elon Musk</p>
                        </div>
                    </div>
                    <div style="background-color:white;width:95%;height:auto;">
                        <div style="background-color:white;width:95%;height:auto;">
                        <p>
                        这是评论的地方！！
                        </p>
                        </div>

                        <!--评论底部-->
                        <div style="background-color:white;width:95%;height:auto;">
                            <p style="font-size:10px; display:inline;position:relative;left:5px;">
                                2020年11月17日 11:21
                            </p>
                            <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                               style="font-size:10px; display:inline;position:relative;left:650px;text-decoration:none;">
                                回复
                            </a>
                            <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                               style="color: #3c763d; display: inline;text-decoration:none;font-size:10px;position:relative;left:660px;">赞 99
                            </a>
                        </div>
                    </div>
                </div>
                <hr>
                <!--评论-->
                <div style="background-color:white;width:100%;min-height:70px;height:auto;">
                    <div style="background-color:white;width: 30px;height:auto; float:left;">
                        <p><img src="C:\Users\Administrator\Desktop\课程表\elon.jpg" style="width: 30px; height: 30px;"></p>
                    </div>
                    <div style="background-color:white;width:auto;height:auto; float:left;">
                        <div style="background-color:white;width:auto;height:auto; float:up;">
                            <p align="middle">Elon Musk</p>
                        </div>
                    </div>
                    <div style="background-color:white;width:95%;height:auto;">
                        <div style="background-color:white;width:95%;height:auto;">
                            <p>
                                这是评论的地方！！
                            </p>
                        </div>

                        <!--评论底部-->
                        <div style="background-color:white;width:95%;height:auto;">
                            <p style="font-size:10px; display:inline;position:relative;left:5px;">
                                2020年11月17日 11:21
                            </p>
                            <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                               style="font-size:10px; display:inline;position:relative;left:650px;text-decoration:none;">
                                回复
                            </a>
                            <a href="JavaScript:void(0)" v-on:click="agree_content(content.id,content.username)"
                               style="color: #3c763d; display: inline;text-decoration:none;font-size:10px;position:relative;left:660px;">赞 99
                            </a>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>

    </div>

    <div style="background-color:white;width:25%;height:600px;float:left;position:fixed;left:1135px;">
        <p> 这里是需要展示的兴趣列表 </p>
    </div>
</body>
<script>

</script>
</html>