<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="background: rgb(59,89,152);width:100%;height:auto;">
    <div style="position:relative;display: inline-block; float:right;">
        <button onclick="myFunction()" class="dropbtn" style="float:right;border:0px;background-color:rgb(59,89,152);width:100px;height:55px;color:rgb(255,255,255);font-weight: bold;font-size: 20px;">退出</button>
    </div>
    <div style="float:right;position:relative;display: inline-block;border:0px;background-color:rgb(59,89,152);width:100px;height:55px;color:rgb(255,255,255);font-weight: bold;font-size: 20px;">
        <button onclick="myFunction()" class="dropbtn" style="float:right;border:0px;background-color:rgb(59,89,152);width:100px;height:55px;color:rgb(255,255,255);font-weight: bold;font-size: 20px;">登陆</button>
    </div>

    <div style="position:relative;display: inline-block; float:right;">
        <button onclick="myFunction()" class="dropbtn" style="float:right;border:0px;background-color:rgb(59,89,152);width:100px;height:55px;color:rgb(255,255,255);font-weight: bold;font-size: 20px;">好友</button>
    </div>

    <div style="position:relative;display: inline-block; float:right;">
        <button onclick="myFunction()" class="dropbtn" style="float:right;border:0px;background-color:rgb(59,89,152);width:100px;height:55px;color:rgb(255,255,255);font-weight: bold;font-size: 20px;">私信</button>
    </div>
    <div style="position:relative;display: inline-block;float:right;">
        <button onclick="myFunction()" class="dropbtn" style="float:right;border:0px;background-color:rgb(59,89,152);width:100px;height:55px;color:rgb(255,255,255);font-weight: bold;font-size: 20px;">消息</button>
    </div>
    <div style="position:relative;display: inline-block;float:right;">
        <button onclick="myFunction()" class="dropbtn" style="float:right;border:0px;background-color:rgb(59,89,152);width:100px;height:55px;color:rgb(255,255,255);font-weight: bold;font-size: 20px;">个人信息</button>
    </div>

    <div style="position:relative;display:inline-block;float:right;">
        <br>
        <form method="post" action="search_content">
            <input type="textarea" name="content" placeholder="搜索..." size="30px">
            <input type="submit" name="search"  value="搜索">
        </form>
    </div>
    <div style="position:relative;display: inline-block;">
        <button onclick="myFunction()" class="dropbtn" style="border:0px;background-color:rgb(59,89,152);width:100px;height:55px;color:rgb(255,255,255);font-weight: bold;font-size: 20px;">校园微话</button>
    </div>
</div>

<div style="background-color:white;width:75%;height:auto;float:left;">

    <!--个人资料-->
    <div style="width:600px;height:600px;border:1px solid #666;margin:1px auto 0;background:#f9f9f9;text-align:center;">
        <div id="words" style="width:580px;height:auto;border:1px solid #666;background:#fff;margin:10px auto 0;overflow:auto;">
                <p style="font-size:10px;" align="left">个人介绍：  </p>
                <p style="font-size:10px;" align="left">感情状态：  </p>
                <p style="font-size:10px;" align="left">职业：    </p>
                <p style="font-size:10px;" align="left">公司：    </p>
                <p style="font-size:10px;" align="left">国家：    </p>
                <p style="font-size:10px;" align="left">省份：    </p>
                <p style="font-size:10px;" align="left">城市：    </p>
                <p style="font-size:10px;" align="left">初中：    </p>
                <p style="font-size:10px;" align="left">初中时间段： </p>
                <p style="font-size:10px;" align="left">高中：    </p>
                <p style="font-size:10px;" align="left">高中时间段： </p>
                <p style="font-size:10px;" align="left">本科：    </p>
                <p style="font-size:10px;" align="left">本科时间段： </p>
                <p style="font-size:10px;" align="left">硕士：    </p>
                <p style="font-size:10px;" align="left">硕士时间段： </p>
                <p style="font-size:10px;" align="left">博士：    </p>
                <p style="font-size:10px;" align="left">博士时间段： </p>
                <p style="font-size:10px;" align="left">博士后：   </p>
                <p style="font-size:10px;" align="left">博士后时间： </p>
                <a href="profile_edit">编辑</a>
        </div>
    </div>
</div>

<div style="background-color:white;width:25%;height:600px;float:left;position:fixed;left:1135px;">
    <p align="middle"><font size="20">热门内容</font></p>
    <p align="middle"> #四级考试# </p>
    <p align="middle"> #交友# </p>
    <p align="middle"> #社团活动# </p>
</div>
</div>
</body>
</html>